/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}
h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
li:hover {
  color: #b1663c;
}

li a {
  text-decoration: none;
  color: black;
}

li img {
  width: 22px;
  height: 22px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.button-filter {
  background-color: transparent;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1d6154;
  padding: 10px;
  margin: 5px;
  border: 1px solid #1d6154;
  border-radius: 25px;
  min-width: 100px;
  cursor: pointer;
}
.button-filter:hover {
  background-color: #1d6154;
  color: white;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  height: 35px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
* {
  box-sizing: border-box;
}

/* Edtion mode Settings */
.administration-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60px;
  width: 100%;
  background-color: black;
}
.edition-mode {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.submit-changes-button {
  color: black;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  background-color: white;
  height: 40px;
  width: 220px;
  border-radius: 60px;
  cursor: pointer;
}
#modal-open-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 14px;
  /* margin: 30px; */
}
#portfolio h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#modal-open-btn img {
  height: 14px;
  width: 14px;
  margin-right: 5px;
}

.edition-icon {
  height: 16px;
  width: 16px;
}

/* Modal Settings */
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal[aria-hidden="true"] .modal-wrapper {
  animation-name: SlideOut;
}
@keyframes SlideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  width: 630px;
  height: 730px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  animation: SlideIn 0.5s both;
}
.div-js-modal-close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.js-modal-close img,
.js-modal-close-2 img {
  height: 12px;
  width: 12px;
}
.js-modal-close,
.js-modal-close-2 {
  height: 12px;
  width: 12px;
  background-color: transparent;
  border: none;
  text-align: right;
  padding: 0;
  cursor: pointer;
}
.div-js-modal-return-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.js-modal-return img {
  height: 15px;
}
.js-modal-return {
  background-color: transparent;
  border: none;
  text-align: right;
  padding: 0;
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-wrapper h3 {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
.separation-bar {
  border-bottom: 1px solid #b3b3b3;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 450px;
}
#button-add-img {
  font-family: "Syne";
  font-weight: 700;
  border: none;
  color: white;
  background-color: #1d6154;
  margin-bottom: 25px;
  width: 240px;
  height: 35px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

.delete-gallery {
  color: #d65353;
  text-decoration: none;
}

/* modal-edit settings */
#div-edit-works {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px 80px;
  grid-template-rows: 120px 120px;
  gap: 10px;
}
.work-container {
  display: flex;
  flex-direction: column;
}
.work-img-container {
  display: flex;
  justify-content: right;
  width: 80px;
  height: 105px;
  background-size: cover;
}
.bin-button {
  width: 20px;
  height: 20px;
  display: flex;
  background-color: black;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.bin-icon {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.edit-button {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

/* add modal settings */
.add-img-content h3 {
  margin-bottom: 35px;
}
.form-add-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-picture-container {
  width: 420px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e8f1f6;
  margin-bottom: 15px;
}
.add-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.icon-img-container {
  width: 60px;
}
.icon-img {
  object-fit: cover;
  max-height: 60px;
}
input[type="file"] {
  position: absolute;
  left: -999999px;
}
.img-preview-container {
  height: 170px;
}
.add-picture-container img {
  object-fit: cover;
  height: 100%;
}
#picture-upload-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cbd6dc;
  color: #306685;
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
  width: 175px;
  height: 40px;
}
form p {
  font-size: 10px;
}
.form-add-picture label {
  margin-bottom: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #3d3d3d;
}
.form-add-picture input[type="text"] {
  width: 420px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-add-picture select {
  width: 420px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}
.title-container,
.category-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.separation-bar-add {
  width: 420px;
  border: 1px solid;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #b3b3b3;
}
.form-add-picture .submit-add-picture {
  width: 240px;
  border: none;
  background-color: #a7a7a7;
  cursor: default;
}
.form-add-picture .submit-add-picture.active {
  background-color: #1d6154;
  cursor: pointer;
}
